<launch>
  <!-- 出力トピック名の引数（デフォルト値を設定していますが、必要に応じて変更可能です） -->
  <arg name="color_out" default="/camera/color/image_raw/decompressed" />
  <arg name="depth_out" default="/camera/depth/image_raw/decompressed" />

  <!-- Color画像の解凍 (compressed -> raw) -->
  <node pkg="image_transport" type="republish" name="decompress_color" output="screen"
        args="compressed in:=/camera/color/image_raw raw out:=$(arg color_out)">
  </node>

  <!-- Depth画像の解凍 (compressedDepth -> raw) -->
  <node pkg="image_transport" type="republish" name="decompress_depth" output="screen"
        args="compressedDepth in:=/camera/depth/image_raw raw out:=$(arg depth_out)">
  </node>
  <node name="head_to_camera_link"
        pkg="tf" type="static_transform_publisher"
        args="0.06581 0.00229 0.22812 -0.00145 -0.02484 -0.03059 head_link camera_link 100" />
</launch>
