<launch>

  <!-- Camera and MediaPipe options -->
  <arg name="hand_enable" default="false" />
  <arg name="INPUT_IMAGE" default="/openni_camera/rgb/image_rect_color" />
  <arg name="INPUT_DEPTH_IMAGE" default="/openni_camera/depth_registered/hw_registered/image_rect" />
  <arg name="INPUT_CAMERA_INFO" default="/openni_camera/rgb/camera_info" />

  <!-- Following Control Options -->
  <arg name="v_max" default="0.15" />
  <arg name="max_acceleration" default="0.2" />
  <arg name="timeout_duration" default="10.0" />
  <arg name="base_frame" default="base_link" />
  <arg name="min_neck_height" default="0.8" />
  <arg name="max_neck_height" default="2.0" />

  <!-- Gaze Control Options -->
  <arg name="enable_gaze" default="true" />
  <arg name="gaze_interval" default="3.0" />
  <arg name="max_angular_velocity" default="0.5" />
  <arg name="min_confidence" default="0.3" />
  <arg name="initial_gaze_yaw" default="-0.5" />
  <arg name="initial_gaze_pitch" default="0.3" />
  <arg name="deep_look_angle" default="1.2" />
  <arg name="deep_speed_scale" default="0.5" />
  <arg name="nod_amplitude" default="0.15" />
  <arg name="nod_duration" default="0.25" />
  <arg name="gaze_hold_duration" default="1.5" />
  <arg name="sweep_margin" default="0.25" />

  <!-- Start MediaPipe Pose Estimation Node -->
  <node name="people_pose_estimation_mediapipe"
        pkg="aero_demo" type="people_pose_estimation_mediapipe.py"
        output="screen">
    <remap from="~input" to="$(arg INPUT_IMAGE)" />
    <remap from="~input/info" to="$(arg INPUT_CAMERA_INFO)" />
    <remap from="~input/depth" to="$(arg INPUT_DEPTH_IMAGE)" />
    <rosparam subst_value="true">
      with_depth: true
      hand:
        enable: $(arg hand_enable)
      min_detection_confidence: 0.5
      min_tracking_confidence: 0.5
      min_visibility: 0.5
      min_joints: 6
      max_z_diff: 1.0
      base_frame: $(arg base_frame)
      min_neck_height: $(arg min_neck_height)
      max_neck_height: $(arg max_neck_height)
    </rosparam>
  </node>

  <!-- Start Human Following Control Node -->
  <!-- <node name="human_following_control"
        pkg="aero_demo" type="human_following_control.py"
        output="screen">
    <remap from="~pose" to="/people_pose_estimation_mediapipe/pose" />
    <rosparam subst_value="true">
      base_frame: $(arg base_frame)
      v_max: $(arg v_max)
      max_acceleration: $(arg max_acceleration)
      timeout_duration: $(arg timeout_duration)
      min_confidence: $(arg min_confidence)
    </rosparam>
  </node>
 -->
  <!-- Start Human Gaze Checking Control Node (Optional) -->
  <node name="human_gaze_control"
        pkg="aero_demo" type="human_gaze_control.py"
        output="screen"
        if="$(arg enable_gaze)">
    <remap from="~pose" to="/people_pose_estimation_mediapipe/pose" />
    <rosparam subst_value="true">
      gaze_interval: $(arg gaze_interval)
      max_angular_velocity: $(arg max_angular_velocity)
      min_confidence: $(arg min_confidence)
      initial_gaze_yaw: $(arg initial_gaze_yaw)
      initial_gaze_pitch: $(arg initial_gaze_pitch)
      deep_look_angle: $(arg deep_look_angle)
      deep_speed_scale: $(arg deep_speed_scale)
      nod_amplitude: $(arg nod_amplitude)
      nod_duration: $(arg nod_duration)
      gaze_hold_duration: $(arg gaze_hold_duration)
      sweep_margin: $(arg sweep_margin)
    </rosparam>
  </node>

</launch>
